// Variables
// ---------
// Use the same color all over the place? Need to do
// some math with height and width and text size?
// Sass supports variables as well as basic math
// operations and many useful functions.
//
// For complete documentation:
// http://sass-lang.com/docs/yardoc/file.scss_REFERENCE.html#variables_
//
// Available variables:
// SASS:				http://sass-lang.com/docs/yardoc/file.scss_REFERENCE.html#variables_
// Bourbon:				http://bourbon.io/docs/

// Colour variables
$grey: #cccccc;
$light_grey: lighten($grey, 15%);
$dark_grey: darken($grey, 20%);

$link_color: #285078;
$link_hover_color: lighten($link_color, 20%);
$link_active_color: lighten($link_color, 30%);


// Margin/padding variables
$margin: $gutter;
$padding: $gutter;

$horizontal_padding: 20px;